                    {#<div class="panel-group category-products" id="accordian"><!--category-productsr-->#}
                            {% for cat in category %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="{% url 'product-categories-list' cat=cat.url_title %}">{{ cat.title }}</a></h4>
                                    </div>
                                </div>
                            {% endfor %}
{#                        </div>#}